@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <form class="form-inline my-2 my-lg-0" asp-action="Search" asp-controller="Employee">
        <input class="form-control mr-sm-2" name="term" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
</div>
<div> Nombre d'employés : @ViewData["EmployeesCount"] </div>
<div> Salaire Moyen : @ViewData["SalaryAverage"] </div>
<div> Salaire Max : @ViewData["MaxSalary"] </div>
<div> Nombre d'employés du département HR : @ViewData["HREmployeesCount"] </div>
<div> <a asp-action="Index">Afficher tous les employés</a> </div>
